@import '../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css';

a, button{
  outline: 0;
}
::selection {
  //background-color: $accent;
  color: #fff;
}
body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container.fluid.align-center.justify-center.fill-height{
  padding: 0;
}
